* {
  font-family: "Raleway", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    
}

main {
  min-height: 400px;

}

a {
  text-decoration: none;
  color: #000;
}

#wrapper {
  margin: 0 auto;
/*  display: grid;
  grid-gap: 10px;*/
  
}

nav {
  min-height: 50px;
  display: flex;
  flex-flow: row wrap;
  
}

header {
  padding: 0 20px 5px 20px;
}

#logo_box{
  width: 70%;
  align-items: center;
}

.logo {
  height: 35px;
  margin: 15px 0 0 5px;
}

#links {
  text-align: end;
  font-weight: 500;
  
}

#links a{
  display: inline-block;
  margin-left: 25px; 
  line-height: 60px;
  text-decoration: none;
}

#links :nth-child(2){
  margin-left: 35px; 
}

#links a.active{
  border-top: 1px solid #0065fc;
  color: #0065fc;
}

#sign_up a{
  display: inline-block;
  margin-left: 65px; 
  margin-top: 2px;
  line-height: 60px;
  text-decoration: none;
  font-weight: bold;
  color: #0065fc;
}

/* SEARCH SECTION */

#search {

  min-height: 100px;
  padding: 6px;
}

#search_bar {
  display: flex;
  flex-flow: row wrap;
  height: 40px;
}

#search_bar i{
  border: 1px solid  #deebff;
  padding: 6px;
  padding-top: 10px;
  background-color: #deebff;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 25px;
  text-align: center;

}

#search_bar input{
  border: 1px solid  #deebff;
  padding: 6px;

}

#search_bar button{
  border: 1px solid  #deebff;
  padding: 6px;
  color: #deebff;
  background-color: #0065fc;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  
}

#search p{
  font-weight: bold;
}

#search h5{
  font-weight: 500;
  margin-top: -10px;
}

.short_search{
  display: none;
}

/* FILTERS */

#filters{
  display: flex;
  flex-flow: row wrap;
  padding: 10px;
}

.filter_part{
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  border: none;
}

.filter_element{
  border: 1px solid  #deebff;
  min-width: 120px;
  margin-right: 25px;
  border-radius: 25px;
  padding-right: 10px;
  align-items: center;
  display: flex;
  flex-direction: row;
}

#filters i{
  background-color: #deebff;
  color: #0065fc;
  height: 25px;
  width: 30px;
  border-radius: 50%;
  text-align: center;
  padding-top: 7px;

}

.filter_title{
  border: none;
  text-align: center;
  margin-right: 25px;
  margin-top: 10px;
  font-weight: bold;
}

#filters a{
  text-decoration: none;
  margin: auto;
  padding-left: 5px;
  color: black;
  font-weight: 600;
  font-size: 1em;

}

.filter_element:hover{
  background-color: #deebff;;
}
/* INFO ICON */

#info{
  padding: 0;
}

#info i{
  border: 1px solid #deebff;
  color: #0065fc;
  border-radius: 50%;
  padding: 10px;
  width: 15px;
  text-align:center ;
  position: relative;
  top: -10px;
}

.info_text{
  display: inline-block;
  width: 27%;
}

.border{
  border: 1px solid black;
}

/*LISTING SECTION*/

#list {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-gap: 25px;
  margin: 20px;
  padding-left: 30px;
}

#listpopular {
  display: table-row;
  grid-template: 150px 150px 150px / 1fr ;
  grid-gap: 20px;
  padding: 20px;
}

/*STARS SECTION*/

.blue_star{
  color: #0065fc;
  font-size: 15px;
}

.grey_star{
  color:  #d9d9d9;
  font-size: 15px;
}

/*ACCOMMODATION SECTION*/

#accom {
  display: flex;
  min-width: 100px;
  min-height: 200px;
  padding: 10px 20px 10px 20px;
  
}

.accom_desc {
  height: 70px;
  padding: 3px;
}

.accom_title{
  margin-top: 5px;
  text-align: left;
}

.accom_price{
  margin-top: -10px;
  text-align: left;
}

.accom_rating{
  margin-top: -12px;
  text-align: left;

}


#accom_list {
  border-radius: 20px;
  background-color: #f2f2f2;
  text-align: left;
  width: 70%;
  padding: 15px 0 0 0;
  margin-right: 15px;
}

#accom_list h3{
  margin:5px 0 0 50px;
}


.accom_listing {

  background-color: #fff;
  border-radius: 15px;
  padding: 10px;
  box-shadow: 0px 5px 5px 0px rgba(38, 37, 37, 0.1);

}

.show_more{
  text-decoration: none;
  margin:50px;
  font-weight: bold;
  color:#000;

}

.accom_image {
  height: 120px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;

}

#acc1 {
  background-image: url("../html_images/aim1.jpg");
  background-size: cover;
  background-position: center;
}

#acc2 {
  background-image: url("../html_images/aim2.jpg");
  background-size: cover;
  background-position: center;
}

#acc3 {
  background-image: url("../html_images/aim3.jpg");
  background-size: cover;
  background-position: center;
}

#acc4 {
  background-image: url("../html_images/aim4.jpg");
  background-size: cover;
  background-position: center;
}

#acc5 {
  background-image: url("../html_images/aim5.jpg");
  background-size: cover;
  background-position: center;
}

#acc6 {
  background-image: url("../html_images/aim6.jpg");
  background-size: cover;
  background-position: center;
}


/* MOST POPULAR SECTION */

#mostpop {
  background-color: #f2f2f2;
  text-align: left;
  margin-left: 15px;
  padding: 15px;
  width: 31%;
  border-radius: 15px;
}

#chart{
  margin:10px 0 0 60%;
}

.mostpop_title_icon h3{
  margin: 5px 0 5px 20px;
 }
 
.mostpop_title_icon{
 display: flex;
 flex-flow: row; 
}

#mostpop_list {
  background-color: #f2f2f2;
  text-align: center;
  grid-row-gap: 25px;
  
}

.mostpop_listing {
  background-color: #fff;
  border-radius: 15px;
  padding: 5px;
  margin: 15px;
  box-shadow: 0px 5px 5px 0px rgba(38, 37, 37, 0.1);
}

.mostpop_desc {
  width: 58%;
  vertical-align: top;
  display: inline-block;
  height: 134px;
  padding: 3px;
  
}

.mostpop_title{
  text-align: left;
  height: 35px;
}

.mostpop_price{
  text-align: left;
}

.mostpop_rating{
  text-align: left;
  margin-top: 9%;
  height: 25px;
}


.mostpop_image {
  height: 140px;
  width: 39%;
  display: inline-block;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

#mp1 {
  background-image: url("../html_images/mp1.jpg");
  background-size: cover;
  background-position: center;  
}

#mp2 {
  background-image: url("../html_images/mp2.jpg");
  background-size: cover;
  background-position: center;  
}

#mp3 {
  background-image: url("../html_images/mp3.jpg");
  background-size: cover;
  background-position: center;  
}


/* ACTIVITIES SECTION */

#activities {
  text-align: left;
  
}

#activities h3{
  margin-left: 20px;
}

#activities_list{
  display: grid;
  grid-template: 185px 185px / 22% 22% 22% 22%; 
  column-gap: 60px;
  row-gap: 40px;
  padding: 10px 0 0 0px;
  margin:20px;
}

.act_desc{
  height: 70px;
  padding: 3px;
  margin: 10px;
  font-weight: bold;

}

.act1 {
 
  grid-row: 1 / span 2;
  border-radius: 15px;
  box-shadow: 0px 5px 5px 0px rgba(38, 37, 37, 0.1);

}

.act_image_1{
  background-image: url("../html_images/act1.jpg");
  background-position: center;
  background-size: cover;
  height: 360px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.act2 {
  border-radius: 15px;
  box-shadow: 0px 5px 5px 0px rgba(38, 37, 37, 0.1);
  height: 220px;
}

.act_image_2{
  background-image: url("../html_images/act2.jpg");
  background-position: center;
  background-size: cover;
  height: 170px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;

}

.act3 {
  border-radius: 15px;
  box-shadow: 0px 5px 5px 0px rgba(38, 37, 37, 0.1);

}

.act_image_3{
  background-image: url("../html_images/act3.jpg");
  background-position: center;
  background-size: cover;
  height: 135px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;

}

.act4 {
  grid-column: 3;
  grid-row: 1 / span 2;
  border-radius: 15px;
  box-shadow: 0px 5px 5px 0px rgba(38, 37, 37, 0.1);

}

.act_image_4{
  background-image: url("../html_images/act4.jpg");
  background-position: center;
  background-size: cover;
  height: 360px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;

}

.act5 {
  border-radius: 15px;
  box-shadow: 0px 5px 5px 0px rgba(38, 37, 37, 0.1);
  height: 160px;
  margin-top: 25px;

}

.act_image_5{
  background-image: url("../html_images/act5.jpg");
  background-position: center;
  background-size: cover;
  height: 110px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;

}

.act6 {
  border-radius: 15px;
  box-shadow: 0px 5px 5px 0px rgba(38, 37, 37, 0.1);

}

.act_image_6{
  background-image: url("../html_images/act6.jpg");
  background-position: center;
  background-size: cover;
  height: 135px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;

}

/* FOOTER */

footer {
  min-height: 150px;
  text-align: center;
  background-color: #f2f2f2;;
}

footer ul{
  list-style: none;
}

footer ul li{
  margin: 10px;
  margin-left: -50px;
}

footer a {
  text-decoration: none;
  margin:30px;
  color:#000;

}

#about a{
  margin: 10px;
  margin-top: 25px;
}

#our_acco a{
  margin: 10px;
}
#assistance a{
  margin: 10px;

}

#about{

  text-align: start;
  display: inline-block;
  width: 30%;
  vertical-align: top;
  min-height: 120px;
 
}

#our_acco{

  text-align: start;
  display: inline-block;
  width: 30%;
  vertical-align: top;
  min-height: 120px;

}

#assistance{

  text-align: start;
  display: inline-block;
  width: 30%;
  vertical-align: top;
  min-height: 120px;

}

/* HOVER SECTION */ 

  .accom_listing:hover {
    transform: scale(1.1);
  }

  .mostpop_listing:hover {
    transform: scale(1.1);
  }

  .act1:hover, .act2:hover, .act3:hover, .act4:hover, .act5:hover, .act6:hover{
    transform: scale(1.1);
  }

/* MEDIA QUERIES */

@media all and (max-width: 1023px) {

  nav{
    width: 100%;
  
  }

  header {
    padding: 0;
  }
  #sign_up{
    order: 2;
    width: 28%;
    margin-top: 2px;
  }

  #sign_up a{
    margin-left: 30px;
  }

  #logo_box{
    width: 70%;
  }
  
  #links {
    display: flex;
    width: 100%;
    order: 3;
    padding: 0;
    margin: 0;
    border: none;
    text-align: start;
  }

  #links a{
    width: 50%;
    margin: 0 ;
    padding: 0 ;
    text-align: center;
    border-bottom: 1px solid #ccc;
  }

  #links a.active{
    border-bottom: 1px solid blue;
    border-top: none;
  }

  #links :nth-child(2){
    margin-left: 0; 
  }

  #search_bar i{
    padding: 6px;
    padding-top: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 25px;
    text-align: center;
  
  }

  .long_search{
    display:none
  }

  .short_search{
    display: block;
    color: #0065fc;
    background-color: #0065fc;
    border-radius: 10px;
    margin-left: -5px;
  }

  .short_search i{
    color: white;
    background-color: #0065fc !important;
    border: none !important;
  }

  .filter_title {
    display: flex;
    flex-direction: row;
  }

  #filters {
    display: flex;
    flex-direction: column;
  }
  
  .filter_element{
    margin-right: 35px;
    margin-top: 10px;

  }

  #info{
    display: flex;
    
    padding: 15px;
  }
  
  #info i{
    padding: 10px;
    border-radius: 50%;
    height: 5px;
    width: 5px;
    margin-top: 15px;
    font-size: xx-small;
    
  }

  .info_text{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 10px;
    padding-left: 5px;
  }
    
  #accom{
    display: flex;
    flex-direction: column;
    
  }

  #accom_list{
    width: 100%;
    order: 2;
    background-color: white;
    
  }

  #accom_list h3{
    margin-left: 10px;
    
  }

  #list {
    display: flex;
    flex-direction: column;
    margin: 20px 0 20px 0;
    padding: 0;
    
  }

  .show_more{
    margin-left: 0;
  }

  #mostpop{
    width: 100%;    
    margin-left: -15px;
    margin-bottom: 15px;
    border-radius: 0;
    
  }

  .mostpop_title{
    margin: 10px 0 0 0;
  }

  .mostpop_price{
    margin: 10px 0 0 0;
  }

  .mostpop_rating{
    margin: 30px 0 10px 0;
  }

  .mostpop_title_icon{
    margin-left: -20px;
  }
  
  #mostpop_list {
    display: flex;
    flex-direction: column;
    order: 1;
    padding: 0;
  }

  .mostpop_listing {
    width: 95%;
    padding: 0;
    margin-left: 10px;

  }
  
  #activities {
    display: block;
    margin: 0;
    padding: 0;
    order: 3;
  }

  #activities_list {
    display: flex;
    flex-direction: column; 
    margin: 15px auto 50px auto;
    width: 90%;
    order: 3;
  }

  .act_desc{
    height: 20px;
  }

  .act_image_1, .act_image_4{
    height: 150px;
  }

  .act5{
    margin-top: 0;
  }

  #footer {
    display: flex;
    flex-direction: column;  

  }

  #about, #our_acco, #assistance{
    width: 90%;
    margin: 20px;

  }
  
}
