* {
  font-family: "Raleway", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    
}

main {
  min-height: 400px;

}

a {
  text-decoration: none;
  color: #000;
}

#wrapper {
  margin: 0 auto;
/*  display: grid;
  grid-gap: 10px;*/
  
}

nav {
  min-height: 50px;
  display: flex;
  flex-flow: row wrap;
  
}

header {
  padding: 0 20px 5px 20px;
}

#logo_box{
  width: 70%;
  align-items: center;
}

.logo {
  height: 35px;
  margin: 15px 0 0 5px;
}

#links {
  text-align: end;
  font-weight: 500;
  
}

#links a{
  display: inline-block;
  margin-left: 25px; 
  line-height: 60px;
  text-decoration: none;
}

#links :nth-child(2){
  margin-left: 35px; 
}

#links a.active{
  border-top: 1px solid #0065fc;
  color: #0065fc;
}

#sign_up a{
  display: inline-block;
  margin-left: 65px; 
  margin-top: 2px;
  line-height: 60px;
  text-decoration: none;
  font-weight: bold;
  color: #0065fc;
}

/* SEARCH SECTION */

#search {

  min-height: 100px;
  padding: 6px;
}

#search_bar {
  display: flex;
  flex-flow: row wrap;
  height: 40px;
}

#search_bar i{
  border: 1px solid  #deebff;
  padding: 6px;
  padding-top: 10px;
  background-color: #deebff;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 25px;
  text-align: center;

}

#search_bar input{
  border: 1px solid  #deebff;
  padding: 6px;

}

#search_bar button{
  border: 1px solid  #deebff;
  padding: 6px;
  color: #deebff;
  background-color: #0065fc;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  
}

#search p{
  font-weight: bold;
}

#search h5{
  font-weight: 500;
  margin-top: -10px;
}

.short_search{
  display: none;
}

/* FILTERS */

#filters{
  display: flex;
  flex-flow: row wrap;
  padding: 10px;
}

.filter_part{
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  border: none;
}

.filter_element{
  border: 1px solid  #deebff;
  min-width: 120px;
  margin-right: 25px;
  border-radius: 25px;
  padding-right: 10px;
  align-items: center;
  display: flex;
  flex-direction: row;
}

#filters i{
  background-color: #deebff;
  color: #0065fc;
  height: 25px;
  width: 30px;
  border-radius: 50%;
  text-align: center;
  padding-top: 7px;

}

.filter_title{
  border: none;
  text-align: center;
  margin-right: 25px;
  margin-top: 10px;
  font-weight: bold;
}

#filters a{
  text-decoration: none;
  margin: auto;
  padding-left: 5px;
  color: black;
  font-weight: 600;
  font-size: 1em;

}

.filter_element:hover{
  background-color: #deebff;;
}
/* INFO ICON */

#info{
  padding: 0;
}

#info i{
  border: 1px solid #deebff;
  color: #0065fc;
  border-radius: 50%;
  padding: 10px;
  width: 15px;
  text-align:center ;
  position: relative;
  top: -10px;
}

.info_text{
  display: inline-block;
  width: 27%;
}

.border{
  border: 1px solid black;
}

/*LISTING SECTION*/

#list {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-gap: 25px;
  margin: 20px;
  padding-left: 30px;
}

#listpopular {
  display: table-row;
  grid-template: 150px 150px 150px / 1fr;
  grid-gap: 20px;
  padding: 20px;
}

/*STARS SECTION*/

.blue_star {
  color: #0065fc;
  font-size: 15px;
}

.grey_star {
  color: #d9d9d9;
  font-size: 15px;
}

/*ACCOMMODATION SECTION*/

#accom {
  background-color: grey;
  display: flex;
  min-width: width 100px;
  min-height:200 px;
  padding: 10px 20px 10px 20px;

}

.accom_desc {
  height: 70px;
  padding: 3px;
}

.accom_title {
  margin-top: 5px;
  text-align: left;
}

.accom_price {
  margin-top: -10px;
  text-align: left;
}

.accom_rating {
  margin-top: -12px;
  text-align: left;

}


#accom_list {
  border-radius: 20px;
  background-color: #f2f2f2;
  text-align: left;
  width: 70%;
  padding: 15px 0 0 0;
  margin-right: 15px;
}

#accom_list h3{
  margin: 5px 0 0 0;
}

#accom_listing {
  background-color: #fff;
  border-radius: 15px;
  padding: 10px;
  box-shadow: 0px 5px 5px 0px rgba(38, 37, 37, 0.1);

}

.show_more {
  text-align: left;
  margin-top: 5px;

}

.accom_image {
  padding: 10px;
  height: 50px;
  margin-top: -10px;

}


  

/* MOST POPULAR SECTION */

#mostpop {
  background-color: grey;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
}

.chart {
  align-items: right;
  padding: 5px;

}

.mostpop_title_icon h3 {
  height: 70px;
  padding: 3px;
}

.mostpop_title_icon {
  margin-top: 5px;
  text-align: left;
}

.mostpop_list{
  border-radius: 20px;
  background-color: #f2f2f2;
  text-align: left;
  width: 70%;
  padding: 15px 0 0 0;
  margin-right: 15px;
}

.mostpop_listing{
  background-color: #fff;
  border-radius: 15px;
  padding: 10px;
  box-shadow: 0px 5px 5px 0px rgba(38, 37, 37, 0.1);

}

.mostpop_desc{
  height: 70px;
  padding: 3px;
}

.mostpop_price {
  margin-top: -10px;
  text-align: left;
}

.mostpop_rating {
  margin-top: -10px;
  text-align: left;
}

.mostpop_image {
  padding: 10px;
  height: 50px;
  margin-top: -10px;
}


/* ACTIVITIES SECTION */

#activities {
  background-color: #f2f2f2;
  display: grid;
  grid-gap: 50px 50px;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto;
  justify-content: centre;
  align-content: center;
}

.activity_descp {
  height: 70px;
  padding: 3px;
  margin: 10px;
  font-weight: bold;
}

.activity_title {
  margin-top: 5px;
  text-align: left;
}

.activity_list{
  border-radius: 20px;
  background-color: #f2f2f2;
  text-align: left;
  width: 70%;
  padding: 15px 0 0 0;
  margin-right: 15px;
}

.activity_name{
  text-align: left;
  padding: 5px;
}

.activity1 {
  grid-row: 1 /span 2;
  border-radius: 15px;
  box-shadow: 0px 5px 5px 0px rgba(38, 37, 37, 0.1);

}

/* Footer */

footer {
  background-color: grey;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

footer ul{
  list-style: none;
}

footer ul li{
  padding-left: 10px;
  display: inline-block;
}

footer a{
  text-decoration: underline;
  margin: 10px;
  color: black;
}

#about a{
  margin: 10px;
  margin-top: 25px;
}

#our_accomodation a{
  margin: 10px;
  margin-top: 25px;
}


#assistance a{
  margin: 10px;
  margin-top: 25px;
}

.about {
  text-align: start;
  display: inline-block;
  width: 30%;
  vertical-align: top;
  min-height: 120px; 
}

.assistance {
  text-align: start;
  display: inline-block;
  width: 30%;
  vertical-align: top;
  min-height: 120px; 
}

.our_accomodation {
  text-align: start;
  display: inline-block;
  width: 30%;
  vertical-align: top;
  min-height: 120px;
  
}

.assistance {
  text-align: right;
  padding: 5px;
}

/*HOVER SECTION */

p:hover, h1:hover, a:hover {
  background-color: black;
}

/* unvisited link */
a:link {
  color: grey;
}

/* visited link */
a:visited {
  color: red;
}

/* mouse over link */
a:hover {
  color: blue;
}

/* selected link */
a:active {
  color: black;
}
/* MEDIA QUERIES */

@media all and (max-width: 1023px) {

nav{
    width: 100%;
  
  }

  header {
    padding: 0;
  }
  #sign_up{
    order: 2;
    width: 28%;
    margin-top: 2px;
  }

  #sign_up a{
    margin-left: 30px;
  }

  #logo_box{
    width: 70%;
  }
  
  #links {
    display: flex;
    width: 100%;
    order: 3;
    padding: 0;
    margin: 0;
    border: none;
    text-align: start;
  }

  #links a{
    width: 50%;
    margin: 0 ;
    padding: 0 ;
    text-align: center;
    border-bottom: 1px solid #ccc;
  }

  #links a.active{
    border-bottom: 1px solid blue;
    border-top: none;
  }

  #links :nth-child(2){
    margin-left: 0; 
  }

  #search_bar i{
    padding: 6px;
    padding-top: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 25px;
    text-align: center;
  
  }

  .long_search{
    display:none
  }

  .short_search{
    display: block;
    color: #0065fc;
    background-color: #0065fc;
    border-radius: 10px;
    margin-left: -5px;
  }

  .short_search i{
    color: white;
    background-color: #0065fc !important;
    border: none !important;
  }

  .filter_title {
    display: flex;
    flex-direction: row;
  }

  #filters {
    display: flex;
    flex-direction: column;
  }
  
  .filter_element{
    margin-right: 35px;
    margin-top: 10px;

  }

  #info{
    display: flex;
    
    padding: 15px;
  }
  
  #info i{
    padding: 10px;
    border-radius: 50%;
    height: 5px;
    width: 5px;
    margin-top: 15px;
    font-size: xx-small;
    
  }

  .info_text{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 10px;
    padding-left: 5px;
  }
    
  #accom{
    display: flex;
    flex-direction: column;
    
  }

  #accom_list{
    width: 100%;
    order: 2;
    background-color: white;
    
  }

  #accom_list h3{
    margin-left: 10px;
    
  }

  #list {
    display: flex;
    flex-direction: column;
    margin: 20px 0 20px 0;
    padding: 0;
    
  }

  .show_more{
    margin-left: 0;
  }

  #mostpop{
    width: 100%;    
    margin-left: -15px;
    margin-bottom: 15px;
    border-radius: 0;
    
  }

  .mostpop_title{
    margin: 10px 0 0 0;
  }

  .mostpop_price{
    margin: 10px 0 0 0;
  }

  .mostpop_rating{
    margin: 30px 0 10px 0;
  }

  .mostpop_title_icon{
    margin-left: -20px;
  }
  
  #mostpop_list {
    display: flex;
    flex-direction: column;
    order: 1;
    padding: 0;
  }

  .mostpop_listing {
    width: 95%;
    padding: 0;
    margin-left: 10px;

  }
  
  #activities {
    display: block;
    margin: 0;
    padding: 0;
    order: 3;
  }

  #activities_list {
    display: flex;
    flex-direction: column; 
    margin: 15px auto 50px auto;
    width: 90%;
    order: 3;
  }

  .act_desc{
    height: 20px;
  }

  .act_image_1, .act_image_4{
    height: 150px;
  }

  .act5{
    margin-top: 0;
  }

  #footer {
    display: flex;
    flex-direction: column;  

  }

  #about, #our_accom, #assistance{
    width: 90%;
    margin: 20px;

  }
  
}
